---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Kevin Sommer"
  description="About Kevin Sommer">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background." />

      <div class="c-resume">
        <div class="content">
          <h4>Work Experience</h4>
          
          <div class="content-box">
            <p class="degree-title">
              <b>Frontend Developer</b> Nov 2019 - Jun 2023
            </p>
            <p>TLK Energy</p>
            <br />
            <p>
              Energy and Thermodynamics Simulation Interface: built a web-based simulator using React and TypeScript to simulate thermodynamics scenarios for buildings and machines to enable clients to visualize and optimize system performance
            </p>
          </div>

          <br />

          <div class="content-box">
            <p class="degree-title">
              <b>Frontend Developer</b>
            </p>
            <p>Modell Aachen</p>
            <br />

          </div>

          <br />

          <div class="content-box">
            <p class="degree-title">
              <b>Full Stack Developer</b>
            </p>
            <p>Modell Aachen</p>
          </div>
        </div>

        <div class="content">
          <h4>Education</h4>

          <div class="content-box">
            <p class="degree-title">
              <b>B.Sc. Computer Science</b> 2017-2020
            </p>
            <p>RWTH Aachen University</p>
            <br />

            <p>
              <ul>
                <li>
                  <b>Courses:</b> Basic Techniques in Computer Graphics,
                  Introduction to Web Technologies, Functional Programming,
                  Numerical Mathematics
                </li>
                <li>
                  <b>Thesis:</b> An Intelligent Tool for the Collection
                  of Training Data for Art Curation
                </li>
              </ul>
            </p>
          </div>

          <br />

          <div class="content-box">
            <p>
              <b class="degree-title">M.Sc. Computer Science</b> 2020-2022
            </p>
            <p>RWTH Aachen University</p>
            <br />
            <p>
              <ul>
                <li>
                  <b>Courses:</b> Introduction to Data Science, Machine
                  Learning, Text Mining, Web Mining, Social Data Science,
                  Advanced Internet Technology, Communication Systems
                  Engineering
                </li>
                <li>
                  <b>Thesis:</b> Investigating Machine Learning Techniques
                  for Network Error Classification using Explicit Measurement
                  Bit
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .c-resume {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 0;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .content {
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 1px 4px var(--gray-700);
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    section {
      display: contents;
      font-size: var(--text-lg);
    }

    .c-resume {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding: 2rem 0;
    }
  }
</style>
