---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Pill from "../components/Pill.astro";
---

<BaseLayout
	title="About | Kevin Sommer"
	description="About Kevin Sommer Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Kevin Sommer at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						RWTH Aachen graduate who studied Computer Science with a
						focus on data science and machine learning. Dedicated to
						software engineering, having several years of expertise,
						and specialising in Frontend web development.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p class="degree-title">B.Sc. Computer Science 2017-2020</p>
					<p>RWTH Aachen University</p>
					<p>
						<ul>
							<li>
								<b>Courses:</b> Basic Techniques in Computer Graphics,
								Introduction to Web Technologies, Functional Programming,
								Numerical Mathematics
							</li>
							<li>
								<b>Thesis:</b> An Intelligent Tool for the Collection
								of Training Data for Art Curation
							</li>
						</ul>
					</p>
				</div>

				<br />
				<div class="content">
					<p>
						<b class="degree-title">M.Sc. Computer Science</b> 2020-2022
					</p>
					<p>RWTH Aachen University</p>
					<p>
						<ul>
							<li>
								<b>Courses:</b> Introduction to Data Science, Machine
								Learning, Text Mining, Web Mining, Social Data Science,
								Advanced Internet Technology, Communication Systems
								Engineering
							</li>
							<li>
								<b>Thesis:</b> Investigating Machine Learning Techniques
								for Network Error Classification using Explicit Measurement
								Bit
							</li>
						</ul>
					</p>
				</div>
				<section>
					<h2 class="section-title">Skills</h2>
					<div class="content">
						<p class="">
							<h5>Programming Languages</h5>
							<div class="tags">
								<Pill>JavaScript</Pill>
								<Pill>TypeScript</Pill>
								<Pill>Python</Pill>
								<Pill>HTML/CSS</Pill>
								<Pill>C++</Pill>
								<Pill>SQL</Pill>
							</div>
						</p>

						<p>
							<h5>Frameworks/Libraries</h5>
							<div class="tags">
								<Pill>React</Pill>
								<Pill>Next.js</Pill>
								<Pill>Pandas</Pill>
								<Pill>PyTorch</Pill>
								<Pill>NumPy</Pill>
								<Pill>Scikit‑learn</Pill>
								<Pill>FastApi</Pill>
								<Pill>NS‑3</Pill>
								<Pill>PostgreSQL</Pill>
								<Pill>SQLite</Pill>
							</div>
						</p>

						<p>
							<h5>Misc</h5>
							<div class="tags">
								<Pill>Linux</Pill>
								<Pill>Shell (Bash/Zsh)</Pill>
								<Pill>Git</Pill>
								<Pill>LaTeX (Overleaf)</Pill>
								<Pill>NGINX</Pill>
							</div>
						</p>

						<p>
							<h5>Soft Skills</h5>
							<div class="tags">
								<Pill>Communication</Pill>
								<Pill>Time Management</Pill>
								<Pill>Teamwork</Pill>
								<Pill>Problem‑Solving</Pill>
								<Pill>Documentation</Pill>
							</div>
						</p>
					</div>
				</section>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.degree-title {
		font-weight: 800;
	}

	.pill {
		margin: 0.25em 0.125em;
		display: inline-block;
		padding: 0.25em 0.5em;
		border-radius: 1em;
		font-weight: 500;
		background-color: var(--accent-overlay);
		color: var(--gray-0);
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
		padding: 1em;
		border-radius: 1em;
		box-shadow: 0px 2px 8px var(--gray-700);
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
